language: c

sudo: false

env:
  - LUA="lua 5.1"
  - LUA="lua 5.2"
  - LUA="lua 5.3"
  - LUA="luajit 2.0"
  - LUA="luajit 2.1"

before_install:
  - pip install --user hererocks
  - hererocks env --$LUA -rlatest
  - source env/bin/activate
  - luarocks install luacheck
  - luarocks install busted
  - luarocks install luacov-coveralls

install: true

script:
  - luacheck --std max+busted src spec
  - busted --verbose --coverage

after_success:
  - luacov-coveralls --exclude $TRAVIS_BUILD_DIR/env
